@import '../../mixins.scss';

.aboutPage {
    max-width: 800px;
    margin: 0 100px;

    @include mq('tablet', max) {
        margin: 25px;
    }

    &__content {
        &--header {
            margin-top: 100px;

            @include mq('tablet', max) {
                margin-top: 30px;
            }
            p {
                margin: 0;
            }
        }
        &--text {
            text-align: justify;

            @include mq('tablet', max) {
                text-align: left;
                line-height: 28px;
            }
        }
    }
}

.back-button {
  background: none;
  border: 1px solid #000;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.back-button:hover {
  background: #000;
  color: #fff;
}