@import '../../mixins.scss';

.aboutPage {
    max-width: 800px;
    margin: 0 100px;

    @include mq('tablet', max) {
        margin: 25px;
    }

    &__content {
        &--header {
            margin-top: 50px;

            @include mq('tablet', max) {
                margin-top: 30px;
            }
            p {
                margin: 0;
            }
        }
        &--text {
            text-align: justify;

            @include mq('tablet', max) {
                text-align: left;
                line-height: 28px;
            }
        }
    }
}