@import '../../mixins.scss';

.works {
    max-width: 100vw;
    margin: 0 100px;

    @include mq('tablet', max) {
        margin: 20px;
    }

    &__header {
        margin-top: 50px;

        @include mq('tablet', max) {
            margin-top: 30px;
        }
        p {
            margin: 0;
        }
    }
    &__content {
        .MuiImageList-root {
            width: 80vw;

        }
        .css-1knaqv7-MuiButtonBase-root-MuiButton-root {
            color:black;
            text-decoration: underline;
        }

        img {
            cursor: pointer;

            @include mq('tablet', max) {
                max-width: 400px;
            }
        }
        
    }
}