
.back-button {
  background: none;
  border: none;
  padding: 16px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
  margin-top: 20px;
  margin-left: -80px;
}

.back-button:hover {
  color: #55adf6;
}