.dot-navigation {
    text-align: center;
    margin-top: -20px;
  }
  
  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: rgb(19, 40, 162);
    cursor: pointer;
  }
  
  .dot.active {
    background-color: white;
  }
  
  .dot:hover {
    background-color: #666;
}
  