
ul {
    list-style: none;
    margin-left: 100px;
}

li {
    display: inline-flex;
    margin-right: 50px;
    flex-direction: row;
}

.navbar {
    padding-top: 16px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px black;
}

a {
    text-decoration: none;
    color: black;
}